.container {
    max-width: 1120px;
    padding: 2rem;
    margin: 0 auto;
}

.userOnRoomList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    ul {
        text-align: center;
        margin-bottom: 1.5rem;

        li {
            list-style: none;

            & + li {
                margin-top: 1.5rem;
            }

            span {
                display: block;
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
            }

            .teamsButton {
                display: flex;
                gap: 0.25rem;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 2.5rem;
                    width: 7rem;
                    background: var(--gray-100);
                    // border: 1px solid var(--gray-800);
                    border: none;
                    padding: 0.5rem;
                    border-radius: 0.25rem;

                    transition: background 0.2s;
                    &:hover {
                        background: var(--gray-200);
                    }
                    
                    // &:last-child {
                    //     // border-radius: 0 1rem 1rem 0;
                    // }

                    &.choiced {
                        background: var(--gray-200);
                    }
                }
            }
        }
    }
}

.game {
    .pontuation {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2rem;

        .item {
            text-align: center;
            display: flex;
            flex-direction: column;

            &.currentTeam {
                padding: 0.5rem;
                border-bottom: 2px solid var(--green);
            }
            
            span {
                font-size: 1.25rem;
            }
            
            strong {
                font-weight: bold;
                font-size: 2rem;
            }
        }
    }

    .gameContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .question {
            margin-bottom: 1.5rem;
            padding-right: 1rem;
    
            h3 {
                margin-bottom: 1rem;
            }
    
            .options {
                display: flex;
                flex-direction: column;

                button {
                    margin-bottom: 1rem;
                }
            }

            button.answerButton {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.75rem 1rem;
                background: var(--green);
                border: none;
                color: white;
                border-radius: 0.25rem;
                font-weight: bold;
                
                transition: filter 0.2s;
                &:hover {
                    filter: opacity(0.8);
                }
            }
    
            .reference {
                display: inline-block;
                margin: 1rem;
                padding: 0.5rem;
                border-radius: 4px;
                background-color: var(--blue-light);
            }
        }
    
        .teams {
            min-width: 200px;
            margin-bottom: 1rem;
    
            .team {
                padding: 1rem 0;

                h4 {
                    font-size: 1.25rem;
                    margin-bottom: 0.75rem;
                }
                
                & + .team {
                    border-top: 1px solid var(--gray-100);
                }

                span {
                    margin-bottom: 0.5px;
                    display: block;
                }
            }
            
        }
    
        .gameFinished {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100px;
            justify-content: center;
            align-items: center;
            margin: 4rem 0;
    
            span {
                font-size: 1.5rem;
                margin-bottom: 0.25rem;
            }
    
            strong {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.finishGameButton {
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    background: var(--red);
    color: white;
    border: none;

    transition: filter 0.2s;

    &:hover {
        filter: opacity(0.8);
    }
}

.submitButton {
    margin-top: 1.5rem;
}